{% extends "template.html" %}

{% block title %}Staff Home{% endblock %}

{% block path %}
<li class="breadcrumb-item active" aria-current="page">Staff Home</li>
{% endblock %}

{% block content %}
<!-- Service Start -->
<div class="corpix-service-section-03 corpix-service-07 section section-padding-03" style="background-image: url(static/assets/images/bg/marketing-bg.jpg);">
    <div class="container">
        <div class="service-wrap-02">
            <div class="service-content-wrap-03">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Item Start -->
                        <a href="student_union.html" class="single-item">
                            <div class="shape-1"></div>
                            <div class="service-content">
                                <h3 class="title">Mailbox</h3>
                                <img class="icon-link" src="static/assets/images/btn-icon-pri.png" alt="">
                            </div>
                            <div class="service-icon">
                                <img src="static/assets/images/service-1.png" alt="">
                            </div>
                        </a>
                        <!-- Single Item End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Item Start -->
                        <a href="support_office.html" class="single-item">
                            <div class="shape-1"></div>
                            <div class="service-content">
                                <h3 class="title">Send Newsletter</h3>
                                <img class="icon-link" src="static/assets/images/btn-icon-pri.png" alt="">
                            </div>
                            <div class="service-icon">
                                <img src="static/assets/images/service-2.png" alt="">
                            </div>
                        </a>
                        <!-- Single Item End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Item Start -->
                        <a href="admission_office.html" class="single-item">
                            <div class="shape-1"></div>
                            <div class="service-content">
                                <h3 class="title">Pending Student<br> List</h3>
                                <img class="icon-link" src="static/assets/images/btn-icon-pri.png" alt="">
                            </div>
                            <div class="service-icon">
                                <img src="static/assets/images/service-3.png" alt="">
                            </div>
                        </a>
                        <!-- Single Item End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Item Start -->
                        <a href="CS_department.html" class="single-item">
                            <div class="shape-1"></div>
                            <div class="service-content">
                                <h3 class="title">Students' Course<br> Management</h3>
                                <img class="icon-link" src="static/assets/images/btn-icon-pri.png" alt="">
                            </div>
                            <div class="service-icon">
                                <img src="static/assets/images/service-4.png" alt="">
                            </div>
                        </a>
                        <!-- Single Item End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Item Start -->
                        <a href="CS_department.html" class="single-item">
                            <div class="shape-1"></div>
                            <div class="service-content">
                                <h3 class="title">Register<br> Student</h3>
                                <img class="icon-link" src="static/assets/images/btn-icon-pri.png" alt="">
                            </div>
                            <div class="service-icon">
                                <img src="static/assets/images/service-5.png" alt="">
                            </div>
                        </a>
                        <!-- Single Item End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Item Start -->
                        <a href="CS_department.html" class="single-item">
                            <div class="shape-1"></div>
                            <div class="service-content">
                                <h3 class="title">Course<br>Management </h3>
                                <img class="icon-link" src="static/assets/images/btn-icon-pri.png" alt="">
                            </div>
                            <div class="service-icon">
                                <img src="static/assets/images/service-6.png" alt="">
                            </div>
                        </a>
                        <!-- Single Item End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
{% endblock %}
