{% extends "template.html" %}
{% block main_menu %}
<li><a href="{{url_for('stu_profile')}}">profile</a></li>
{% endblock %}

{% block title %}Student Profile{% endblock %}

{% block path %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item"><a href="{{url_for('show_student_home')}}">student home</a></li>
<li class="breadcrumb-item active" aria-current="page">Student Profile</li>
{% endblock %}

{%block content%}
<div>student:{{args.data._current_id}}</div>
<!-- start page content wrapper-->
    <div class="page-content-wrapper">
        <!-- start page content-->
       <div class="page-content">

          <div class="row">
            <div class="col-12 col-lg-8 col-xl-9">
              <div class="card overflow-hidden radius-10">
                <div class="card-body">
                  <div class="mt-5 d-flex align-items-start justify-content-between">
                    <div class="">
                      <h3 class="mb-2">{{args.data._student_list.diction[args.data._current_id]._Name}}</h3>
                      <p class="mb-1">{{args.data._student_list.diction[args.data._current_id]._status.content}}</p>
                      <div class="">
                        <span class="badge rounded-pill bg-dark">CS school</span>
                      </div>
                    </div>
                    <div class="">
                        <div class="form-btn">
                            <button class="btn"><a href="404.html">Send message</a></button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                    <h4 class="mb-1">About Me</h4>
                     <p class=""><ion-icon name="globe-sharp" class="me-2"></ion-icon>student id: <br>   {{args.data._student_list.diction[args.data._current_id]._SID}}</p>
                     <p class=""><ion-icon name="logo-facebook" class="me-2"></ion-icon>Location:unknow</p>
                  </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3">
              <div class="card radius-10">
                <div class="card-body">
                  <h5 class="mb-3">Phone</h5>
                   <p class="mb-0"><ion-icon name="compass-sharp" class="me-2"></ion-icon>unknow</p>
                </div>
              </div>

              <div class="card radius-10">
                <div class="card-body">
                  <h5 class="mb-3">Connect</h5>
                   <p class=""><ion-icon name="globe-sharp" class="me-2"></ion-icon>www.example.com</p>
                   <p class=""><ion-icon name="logo-facebook" class="me-2"></ion-icon>Facebook</p>
                   <p class=""><ion-icon name="logo-twitter" class="me-2"></ion-icon>Twitter</p>
                   <p class="mb-0"><ion-icon name="logo-linkedin" class="me-2"></ion-icon>LinkedIn</p>
                </div>
              </div>

            </div>
          </div><!--end row-->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="service-bottom-text text-center">
                    <p>Want to go back? <a href="{{url_for('show_student_home')}}">Click here.</a></p>
                </div>
            </div>
        </div>
        <!-- end page content-->
      </div>
{%endblock%}
